body {
  background-color: #00060c;
  
  
}
#title {
  background-image: url("9cfc4c37f3d447fb4ece4f05e64fa9a9.gif");
  background-repeat: repeat;
 
  text-align: center;
}
.card-body a {
  color: #ffc800;
  text-decoration: underline;
}
.sm-logo {
  width: 20%;
  padding-right: 0.8rem;
}
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Montserrat Alternates", sans-serif;
}

.nav-item {
  padding: 0 10.1px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}
.navbar #navbarTogglerDemo02 .navbar-nav li a:hover {
  border-bottom: 1px solid #ffc800;
  font-weight: bold;
  opacity: 1;
}

.container-fluid {
  padding: 1% 15%;
}

.title-h1,
.title-h2,
h1,
h2 {
  color: #fff;
}
.blue-highlighted {
  color: #3b82f6;
}

.yellow-highlighted {
  
  color: #ffc800;
}

.title-h1 {
  font-family: "Anton", sans-serif;
  padding: 2%;
  font-size: 5rem;
  word-spacing: 1rem;
  margin: 4%;
}

.title-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 2%;
}
.title-btn {
  margin: 5% 0.5% 13%;
}
h1 {
  font-family: "Anton", sans-serif;
  padding: 4% 4% 0;
  font-size: 2.5rem;
  word-spacing: 0.5rem;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
#about {
  padding-top: 2%;
  text-align: center;
}
.profile {
  width: 70%;
  margin-bottom: 15%;
}
.about-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #e3edfc;
  text-align: left;
  padding-top: 2%;
}

.about-div {
  border: 3px solid #204875;
  border-radius: 10%;
  margin-left: 16.5%;
  margin-right: 16.5%;
  padding: 5%;
  background-color: #051425;
}

hr {
  border: dotted #385883 6px;
  border-bottom: none;
  width: 2%;
  margin-bottom: 5%;
}
p {
  color: #a2c0e6;
}
#projects {
  text-align: center;
  padding-top: 2%;
  margin-bottom: 5%;
}
#projects h1 {
  padding: 0 4% 0;
}
.project-image {
  border-radius: 2%;
  width: 80%;
  border: 5px double #204875;
}
.carousel-inner {
  padding: 2%;
}
.carousel-item {
  background-color: #051425;
  border: 3px solid #204875;
  border-radius: 10%;
}

.madeWith-div {
  margin-top: 2%;
}
.madewith-text {
  color: #fff;
}
#madeWith-htmlimg,
#madeWith-bootstrapimg {
  width: 5%;
  margin: 0 1% 0;
}
#madeWith-cssimg {
  width: 4%;
  margin: 0 1% 0;
}
#madeWith-jsimg {
  width: 8%;
}
#madeWith-jqueryimg {
  background-color: #fff;
  width: 10%;
}

.project-image:hover {
  opacity: 65%;
}
.project-text {
  padding: 3% 0 3%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #e3edfc;
}

/* below is the code used to change the colour of the carousel control to #204875 */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23204875' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23204875' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#skills {
  text-align: center;
  background-color: #051425;
  border: 3px solid #204875;
  margin: 1% 16.5% 1%;
  border-radius: 10%;
}
.skill-img {
  width: inherit;
}
#skills-list {
  padding: 5% 5% 0%;
}
ul#skills-list li {
  display: inline;
}
#python-col {
  width: 50%;

  margin-top: 2%;
}
#c-col {
  height: 60%;
  width: 60%;
  margin-bottom: 4%;
}
#java-col {
  height: 40%;
  width: 40%;
  margin-bottom: 4%;
}
#html-col {
  height: 50%;
  width: 50%;
  margin-bottom: 4%;
  margin-top: 1%;
}
#css-col {
  height: 35%;
  width: 40%;
  margin-bottom: 4%;
}
#bootstrap-col {
  height: 50%;
  width: 50%;
  margin-bottom: 4%;
  margin-top: 2%;
}
#linux-col {
  height: 40%;
  width: 40%;
  margin-bottom: 4%;
}
#git-col {
  height: 40%;
  width: 40%;
  margin-bottom: 4%;
  margin-top: 1%;
}
#js-col {
  height: 90%;
  width: 90%;
  margin-bottom: 4%;
  margin-top: 1%;
}
#jquery-col {
  
  width: 80%;
  margin-bottom: 4%;
  margin-top: 5%;
}
.skills-text {
  color: #fff;
}
h6{
  color: #ffc800;
  opacity: 50%;
  font-weight: bold;
}
.whiteh6{
  color: #fff;
  opacity: 90%;
  font-weight: bold;
}
#contact {
  text-align: center;
  background-image: url("9cfc4c37f3d447fb4ece4f05e64fa9a9.gif");
  padding-bottom: 3%;
}

.card {
  background-color: #071a30;
  margin-top: 15%;
  margin-bottom: 50%;
  border: 1px solid #a2c0e6;
  border-radius:10%;
  opacity: 60%;
}
.card-header {
  color: #a2c0e6;
  border-bottom: 1px solid #a2c0e6;
}
.card-body {
  color: #fff;
}

/* #### Tablets*/
@media (min-width: 481px) and (max-width: 1024px) {
  #about {
    text-align: center;
    padding-top: 5%;
  }

  hr {
    margin-bottom: 8%;
  }
  #skills {
    padding-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    border: 2px solid #204875;
  }
  #projects {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #contact {
    padding-top: 5%;
  }
  .profile {
    width: 30%;
    margin-bottom: 5%;
  }
  .title-btn {
    margin-bottom: 15%;
    margin-top: 10%;
  }
  .title-h1 {
    font-size: 4rem;
    padding-bottom: 7%;
  }
  .container-fluid {
    padding: 1% 5%;
  }
  .about-text {
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
  }
  .about-div {
    border: 2px solid #204875;
    margin-left: 8%;
    margin-right: 8%;
  }
  .project-text {
    padding-bottom: 10%;
    font-size: 1.25rem;
  }
  .carousel-item {
    padding: 5% 10%;
    border: 2px solid #204875;
  }

  #skills-list {
    padding: 4% 5% 0;
  }
  #python-col {
    width: 30%;
    margin-bottom: 5%;
    margin-top: 3%;
  }
  #c-col {
    margin-top: 2%;
    width: 45%;
    margin-bottom: 5%;
  }
  #java-col {
    width: 25%;
    margin-bottom: 7%;
  }
  #html-col {
    width: 40%;
    margin-bottom: 5%;
  }
  #css-col {
    width: 30%;
    margin-bottom: 7%;
  }
  #bootstrap-col {
    margin-top: 3%;
    width: 40%;
    margin-bottom: 5%;
  }
  #linux-col {
    width: 33%;
  }
  #git-col {
    width: 38%;
  }
  #js-col {
    width: 70%;
    margin-bottom: 4%;
    margin-top: 1%;
  }
  #jquery-col {
    
    width: 60%;
    margin-bottom: 4%;
    margin-top: 5%;
  }

  #madeWith-htmlimg,
  #madeWith-bootstrapimg {
    width: 7%;
    margin: 0 1% 0;
  }
  #madeWith-cssimg {
    width: 6%;
    margin: 0 1% 0;
  }
  #madeWith-jsimg {
    width: 10%;
  }
  #madeWith-jqueryimg {
    width: 12%;
  }

  .card-div {
    margin-left: 15%;
    margin-right: 15%;
  }
  .card{
    margin-bottom:30%;
  }
}

/* #### Mobile Phones#### */
@media (max-width: 480px) {
  #about {
    text-align: center;
  }

  hr {
    width: 4%;
    margin-bottom: 10%;
  }

  .profile {
    margin-top: 5%;
    width: 25%;
    margin-bottom: 8%;
  }
  .profile-div {
    padding-right: 11%;
    padding-top: 4%;
  }
  #about {
    padding-top: 7%;
  }
  .about-div {
    padding: 0;
    margin: 5%;
    padding-bottom: 1%;
    border: 1.5px solid #204875;
  }

  .about-text {
    text-align: center;
    font-size: 0.8rem;
    line-height: 2;
  }
  .title-btn {
    margin-bottom: 25%;
    margin-top: 10%;
  }
  .title-h1 {
    font-size: 3.5rem;
    padding-bottom: 7%;
  }
  .title-h2 {
    font-size: 1rem;
  }
  .container-fluid {
    padding: 1% 5%;
  }
  #projects {
    padding-top: 7%;
    padding-bottom: 8%;
  }
  .project-text {
    padding-bottom: 10%;
    font-size: 0.8rem;
  }
  .carousel-item {
    padding: 5% 10%;
    border: 1.5px solid #204875;
  }

  #skills {
    padding-top: 7%;
    margin: 1% 5% 1%;
    border: 2px solid #204875;
  }
  #skills-list {
    margin: 2%;
  }

  #python-col {
    width: 45%;
    margin-bottom: 3%;
  }
  #c-col {
    width: 55%;
    margin-bottom: 5%;
  }
  #java-col {
    width: 40%;
    margin-bottom: 5%;
  }
  #html-col {
    width: 50%;
    margin-bottom: 5%;
    margin-left: 9%;
  }
  #css-col {
    width: 45%;
    margin-bottom: 7%;
  }
  #bootstrap-col {
    margin-left: 6%;
    margin-top: 7%;
    width: 47%;
    margin-bottom: 5%;
  }
  #linux-col {
    width: 43%;
  }
  #git-col {
    margin-left: 7%;
    width: 48%;
  }
  #js-col {
    
    width: 50%;
    margin-bottom: 4%;
    margin-top: 1%;
  }
  #jquery-col {
    
    width: 50%;
    margin-bottom: 4%;
    margin-top: 5%;
  }
  #madeWith-htmlimg,
  #madeWith-bootstrapimg {
    width: 7%;
    margin: 0 1% 0;
  }
  #madeWith-cssimg {
    width: 5%;
    margin: 0 1% 0;
  }
  #madeWith-jsimg {
    width: 10%;
  }
  #madeWith-jqueryimg {
    width: 12%;
  }
  #contact {
    padding-top: 10%;
  }
  .card-div {
    margin-left: 10%;
    margin-right: 10%;
  }
  .card{
    margin-bottom:30%;
  }
  .navbar-brand {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Montserrat Alternates", sans-serif;
  }
}
